/*
*** COLORS ***

### Primary

- Pink: hsl(322, 100%, 66%)

### Neutral

- Very Pale Cyan: hsl(193, 100%, 96%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Grayish Blue: hsl(208, 11%, 55%)
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;     /* Sets 1rem to 10px */
}

@media only screen and (max-width: 751px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 376px) {
    html {
        font-size: 45%;
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: hsl(208, 11%, 55%);
}



/*** HEADER ***/

.header {
    padding: 5rem 9rem;
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(hsla(193, 100%, 96%, 0.4), hsla(193, 100%, 96%, 0.4)),
                        url(../images/bg-hero-desktop.svg);
    background-size: cover;
    color: black;
}

.header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
    align-items: center;
}

.header__content {
    display: flex;
}

.header__content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding-right: 6rem;
    align-items: start
}

.header--title {
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.header__image-container {
    width: 55%;
}

.header-img {
    width: 100%;
}


@media only screen and (max-width: 1001px){
    .header--title {
        font-size: 3.6rem;
    }
}

@media only screen and (max-width: 901px){
    .header__content {
        flex-direction: column;
    }

    .header__content__text {
        width: 100%;
        text-align: center;
        align-items: center;
        padding-right: 0;
    }

    .header__image-container {
        width: 100%;
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 751px) {
    .header {
        padding: 5rem 6rem;
    }

    .header__top img {
        height: 3rem;
    }
}

@media only screen and (max-width: 376px) {
    .header {
        padding: 4rem 2rem;
    }

    .header__top img {
        height: 2.5rem;
    }

    .header__content__text {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header__image-container {
        padding: 0 2rem;
    }
}

/*** BODY ***/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14rem 11rem 5.5rem 11rem;
}

.container__row {
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.1);
    border-radius: 2rem;
    padding-left: 8rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__row__text {
    width: 42%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.content-img {
    width: 90%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container__cta {
    display: inline-block;
    transform: translateY(12.5rem);
    background: white;
    text-align: center;
    padding: 6rem 12rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.1);
}

@media only screen and (max-width: 751px){
    .container {
        padding: 8rem 5.5rem 2.8rem 5.5rem;
    }

    .container__row {
        flex-direction: column;
        padding: 4rem;
    }

    .container__row__text {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .image-container {
        width: 100%;
        order: 1;
    }

    .container__cta {
        padding: 3rem 7rem;
    }    
}

@media only screen and (max-width: 376px){
    .container {
        padding: 6rem 2rem 2rem 2rem;
    }

    .container__row {
        padding: 5rem;
    }

    .container__cta {
        transform: translateY(8rem);
        padding: 3rem 1rem
    }
}

/*** FOOTER ***/
.footer {
    background-color: hsl(192, 100%, 9%);
    padding-top: 18rem;
    padding-bottom: 3rem;
    color: white;
}

.footer__logo {
    margin-left: 3vw;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
}

.footer__container__legal {
    width: 26%;
}

.legal--icon {
    margin-left: -4rem;
    margin-right: 2.2rem;
}

.footer__container__list {
    width: 25%;
}

ul {
    list-style: none;
    columns: 2;
}

li {
    padding: 1rem;
}

li a {
    text-decoration: none;
    color: white;
}

.footer__container__social {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-icon {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.fa-facebook-f {
    padding: .7rem 1rem;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-twitter {
    padding: .7rem .7rem;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-instagram {
    padding: .7rem .8rem;
    border: 1px solid white;
    border-radius: 50%;
}

.footer__container__social__copy {
    font-size: 1.4rem;
}

@media only screen and (max-width: 900px){
    .footer__container__list {
        width: 30%;
    }

    .footer__container__social {
        width: 20%;
    }
}

@media only screen and (max-width: 751px) {
    .footer__container {
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 6rem;
    }

    .footer__container__legal {
        width: 100%;
        margin-left: 4rem;
        margin-bottom: 2rem;
    }

    .legal--icon {
        margin-left: -3rem;
        margin-right: 1.5rem;
    }

    .footer__container__list {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer__container__social {
        width: 100%;
        text-align: center;
    }

    .social-icon {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 376px) {
    .footer {
        padding-top: 10rem;
    }

    .footer__logo {
        width: 25rem;
        padding-top: 4rem;
    }

    ul {
        columns: 1;
    }

    .footer__container__social__copy {
        margin: 2rem;
    }
}


/*** BUTTON FORMATTING ***/
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;

    padding: 1.5rem 4rem;
    border-radius: 100px;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .8rem 1rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn--heading--top {
    background-color: white;;
}

.btn--primary {
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.btn--cta {
    padding: 2rem 8rem;
}

@media only screen and (max-width: 751px) {
    .btn--heading--top {
        padding: 1rem 2rem
    }

    .btn--cta {
        padding: 2rem 6rem;
    }
}

/*** UTILITY CLASSES ***/

.heading {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.mb-small {
    margin-bottom: 1rem;
}

.mb-medium {
    margin-bottom: 3rem;
}

.mb-large {
    margin-bottom: 4rem;
}

/*** INCLUDED STYLES ***/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.attribution {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
